In [26]:
import pandas as pd
import numpy as np

In [27]:
# Load the data
candy_df = pd.read_excel('Data/candyhierarchy2017.xlsx')

# Validate the dataload
candy_df.head()

/Users/sharath/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

Fill in missing data

In [54]:
# Getting missing data count.
candy_df.fillna(0)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,0,Bottom line is Twix is really the only candy w...,White and gold,0,Sunday,0.0,1.0,0.0,0.0,"(84, 25)"
2,90272829,0,Male,49,USA,Virginia,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,0,Raisins can go to hell,White and gold,0,Sunday,0.0,1.0,0.0,0.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,0,0,White and gold,0,Friday,0.0,1.0,0.0,0.0,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,0,White and gold,0,Friday,0.0,0.0,0.0,0.0,0
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,0,...,Capers,0,Blue and black,0,Friday,0.0,1.0,0.0,0.0,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,0,0,Blue and black,0,Friday,0.0,1.0,0.0,0.0,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,0,"You hit all my chocolate highlights, and broug...",White and gold,0,Sunday,1.0,0.0,0.0,0.0,"(19, 26)"

Remove duplicates

In [55]:
candy_df.drop_duplicates()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

Chapter 8
Create hierarchial index

In [57]:
# Creating the hierarchial index.
candy_h_df = candy_df.set_index(['Q1: GOING OUT?', 'Q2: GENDER', 'Internal ID'])

# Checking the dataframe.
candy_h_df.head()

                                      Q3: AGE Q4: COUNTRY  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773        NaN         NaN
No             Male       90272821         44        USA
NaN            Male       90272829         49         USA
No             Male       90272840         40          us
                          90272841         23         usa

                                      Q5: STATE, PROVINCE, COUNTY, ETC  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                                 NaN
No             Male       90272821                                  NM
NaN            Male       90272829                            Virginia
No             Male       90272840                                  or
                          90272841                            exton pa

                                      Q6 | 100 Grand Bar  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                   NaN
No             Male       90272821                   MEH
NaN            Male       90272829                   NaN
No             Male       90272840                   MEH
                          90272841                   JOY

                                      Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                                                   NaN
No             Male       90272821                                               DESPAIR
NaN            Male       90272829                                                   NaN
No             Male       90272840                                               DESPAIR
                          90272841                                               DESPAIR

                                      Q6 | Any full-sized candy bar  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                              NaN
No             Male       90272821                              JOY
NaN            Male       90272829                              NaN
No             Male       90272840                              JOY
                          90272841                              JOY

                                      Q6 | Black Jacks  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                 NaN
No             Male       90272821                 MEH
NaN            Male       90272829                 NaN
No             Male       90272840                 MEH
                          90272841             DESPAIR

                                      Q6 | Bonkers (the candy)  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                         NaN
No             Male       90272821                     DESPAIR
NaN            Male       90272829                         NaN
No             Male       90272840                         MEH
                          90272841                         MEH

                                      Q6 | Bonkers (the board game)  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                              NaN
No             Male       90272821                          DESPAIR
NaN            Male       90272829                              NaN
No             Male       90272840                          DESPAIR
                          90272841                          DESPAIR

                                      Q6 | Bottle Caps  ... Q8: DESPAIR OTHER  \
Q1: GOING OUT? Q2: GENDER Internal ID                   ...
NaN            NaN        90258773                 NaN  ...               NaN
No             Male       90272821             DESPAIR  ...               NaN
NaN            Male       90272829                 NaN  ...               NaN
No             Male       90272840                 MEH  ...               NaN
                          90272841                 MEH  ...               NaN

                                                                      Q9: OTHER COMMENTS  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                                                   NaN
No             Male       90272821     Bottom line is Twix is really the only candy w...
NaN            Male       90272829                                                   NaN
No             Male       90272840                                Raisins can go to hell
                          90272841                                                   NaN

                                           Q10: DRESS Unnamed: 113 Q11: DAY  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                NaN          NaN      NaN
No             Male       90272821     White and gold          NaN   Sunday
NaN            Male       90272829                NaN          NaN      NaN
No             Male       90272840     White and gold          NaN   Sunday
                          90272841     White and gold          NaN   Friday

                                      Q12: MEDIA [Daily Dish]  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                        NaN
No             Male       90272821                        NaN
NaN            Male       90272829                        NaN
No             Male       90272840                        NaN
                          90272841                        NaN

                                      Q12: MEDIA [Science] Q12: MEDIA [ESPN]  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                     NaN               NaN
No             Male       90272821                     1.0               NaN
NaN            Male       90272829                     NaN               NaN
No             Male       90272840                     1.0               NaN
                          90272841                     1.0               NaN

                                      Q12: MEDIA [Yahoo]  \
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                   NaN
No             Male       90272821                   NaN
NaN            Male       90272829                   NaN
No             Male       90272840                   NaN
                          90272841                   NaN

                                      Click Coordinates (x, y)
Q1: GOING OUT? Q2: GENDER Internal ID
NaN            NaN        90258773                         NaN
No             Male       90272821                    (84, 25)
NaN            Male       90272829                         NaN
No             Male       90272840                    (75, 23)
                          90272841                    (70, 10)

[5 rows x 117 columns]

Combine and Merge Datasets

In [66]:
# Creating a database for demographics.
demo_candy_df = candy_df.iloc[:,:8]

# Removing Q1.
demo_candy_df = demo_candy_df.drop(['Q1: GOING OUT?'], axis=1)

# Checking the dataframe.
demo_candy_df.head()

,Internal ID,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,Male,44,USA,NM,MEH,DESPAIR
2,90272829,Male,49,USA,Virginia,NaN,NaN
3,90272840,Male,40,us,or,MEH,DESPAIR
4,90272841,Male,23,usa,exton pa,JOY,DESPAIR

In [67]:
# Creating database for responses.
candy_resp_df = candy_df.drop(['Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY', 'Q5: STATE, PROVINCE, COUNTY, ETC'], axis=1)

# Checking the dataframe.
candy_resp_df

,Internal ID,Q1: GOING OUT?,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,Q6 | Box'o'Raisins,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,MEH,DESPAIR,JOY,MEH,MEH,DESPAIR,MEH,DESPAIR,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,JOY,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,MEH,DESPAIR,JOY,NaN,NaN,NaN,NaN,DESPAIR,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,MEH,DESPAIR,JOY,DESPAIR,MEH,JOY,DESPAIR,MEH,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

In [68]:
# Merging the dataframes.
pd.merge(demo_candy_df, candy_resp_df, on='Internal ID')

,Internal ID,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar_x,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)_x,Q1: GOING OUT?,Q6 | 100 Grand Bar_y,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)_y,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,Male,44,USA,NM,MEH,DESPAIR,No,MEH,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,Male,40,us,or,MEH,DESPAIR,No,MEH,DESPAIR,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,Male,23,usa,exton pa,JOY,DESPAIR,No,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,Male,24,USA,MD,JOY,DESPAIR,No,JOY,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,Female,33,USA,New York,MEH,DESPAIR,No,MEH,DESPAIR,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,Female,26,USA,Tennessee,MEH,DESPAIR,No,MEH,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,Male,58,Usa,North Carolina,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,No,DESPAIR,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

Chapter 10
Grouping with Index Levels

In [69]:
# Getting the responses by gender count.
candy_h_df.groupby(level='Q2: GENDER', axis=0).count()

,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q2: GENDER,,,,,,,,,,,,,,,,,,,,,
Female,828,835,826,583,591,613,500,486,477,572,...,272,139,591,2,594,53,472,15,9,551
I'd rather not say,71,73,72,60,61,61,51,50,51,55,...,28,27,56,0,54,0,44,1,5,50
Male,1440,1449,1426,1041,1040,1078,927,909,903,1034,...,399,210,1036,7,1054,30,818,81,52,971
Other,30,30,29,22,25,26,17,18,18,26,...,16,9,24,0,24,0,23,0,1,24

Split/Apply/Combine

In [70]:
# Function to obtain the 5 youngest records.
def oldest(df, n=5, column='Q3: AGE'):
    return df.sort_values(by=column)[:n]

# Replace any strings in the Age column with NAN
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].apply(pd.to_numeric,errors='coerce')

# Apply the function after grouping by gender
candy_df.groupby('Q2: GENDER').apply(oldest)

                         Internal ID Q1: GOING OUT?          Q2: GENDER  \
Q2: GENDER
Female             414      90273934            Yes              Female
                   627      90275243            Yes              Female
                   1308     90278444            Yes              Female
                   379      90273811            Yes              Female
                   415      90273938            Yes              Female
I'd rather not say 954      90276766            NaN  I'd rather not say
                   612      90275178            NaN  I'd rather not say
                   1386     90278953            Yes  I'd rather not say
                   183      90273278            Yes  I'd rather not say
                   1796     90282096            Yes  I'd rather not say
Male               2294     90291602            Yes                Male
                   1490     90279648            Yes                Male
                   1371     90278873            Yes                Male
                   943      90276709            Yes                Male
                   1479     90279571             No                Male
Other              2212     90288589            Yes               Other
                   841      90276284            Yes               Other
                   1192     90277589             No               Other
                   1444     90279300             No               Other
                   2086     90286129             No               Other

                         Q3: AGE    Q4: COUNTRY  \
Q2: GENDER
Female             414       6.0  United States
                   627       7.0      Australia
                   1308      8.0            USA
                   379       9.0            usa
                   415      10.0         Canada
I'd rather not say 954      12.0       New York
                   612      12.0       cascadia
                   1386     14.0           USA
                   183      18.0        america
                   1796     18.0             us
Male               2294      4.0            USA
                   1490      6.0            USA
                   1371      7.0         CANADA
                   943       8.0  United States
                   1479      9.0            USA
Other              2212      1.0              1
                   841      10.0             US
                   1192     17.0        Iceland
                   1444     17.0         Canada
                   2086     18.0            USA

                        Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
Q2: GENDER
Female             414                          Colorado                MEH
                   627                           Sydney                 NaN
                   1308                               TX                NaN
                   379                                va                NaN
                   415                           Alberta                MEH
I'd rather not say 954                            Queens                JOY
                   612                          cascadia                JOY
                   1386                      California                 JOY
                   183                                va                JOY
                   1796                               md                NaN
Male               2294                             Ohio            DESPAIR
                   1490                       California                NaN
                   1371                          ONTARIO                NaN
                   943                            Oregon                MEH
                   1479                        Kentucky                 MEH
Other              2212                                1                NaN
                   841                           Indiana            DESPAIR
                   1192                              NaN                MEH
                   1444         British Columbia, Canada                NaN
                   2086                        Colorado                 NaN

                        Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
Q2: GENDER
Female             414                                             DESPAIR
                   627                                                 NaN
                   1308                                                MEH
                   379                                                 NaN
                   415                                                 MEH
I'd rather not say 954                                             DESPAIR
                   612                                             DESPAIR
                   1386                                            DESPAIR
                   183                                             DESPAIR
                   1796                                                NaN
Male               2294                                            DESPAIR
                   1490                                                NaN
                   1371                                                MEH
                   943                                             DESPAIR
                   1479                                                JOY
Other              2212                                                NaN
                   841                                             DESPAIR
                   1192                                            DESPAIR
                   1444                                                NaN
                   2086                                                NaN

                        Q6 | Any full-sized candy bar Q6 | Black Jacks  ...  \
Q2: GENDER                                                              ...
Female             414                            JOY          DESPAIR  ...
                   627                            NaN              NaN  ...
                   1308                           JOY              NaN  ...
                   379                            NaN              NaN  ...
                   415                            JOY              MEH  ...
I'd rather not say 954                            JOY          DESPAIR  ...
                   612                            JOY              MEH  ...
                   1386                           JOY          DESPAIR  ...
                   183                            JOY          DESPAIR  ...
                   1796                           NaN              NaN  ...
Male               2294                           MEH          DESPAIR  ...
                   1490                           NaN              NaN  ...
                   1371                           MEH              NaN  ...
                   943                            JOY              NaN  ...
                   1479                           JOY          DESPAIR  ...
Other              2212                           NaN              NaN  ...
                   841                        DESPAIR          DESPAIR  ...
                   1192                           JOY              MEH  ...
                   1444                           JOY              NaN  ...
                   2086                           NaN              NaN  ...

                              Q8: DESPAIR OTHER  \
Q2: GENDER
Female             414             crunchy frog
                   627                      NaN
                   1308    Any minty chocolate
                   379                      NaN
                   415                      NaN
I'd rather not say 954                      NaN
                   612                      NaN
                   1386                   Trump
                   183             nothing else
                   1796                     NaN
Male               2294                     NaN
                   1490                     NaN
                   1371  Loose peanuts in shell
                   943                  Drug's
                   1479              Toothbrush
Other              2212                     NaN
                   841               Bible shit
                   1192                     NaN
                   1444                     NaN
                   2086                     NaN

                                                        Q9: OTHER COMMENTS  \
Q2: GENDER
Female             414                                                 NaN
                   627                                                 NaN
                   1308                                                NaN
                   379                                                 NaN
                   415                                                 NaN
I'd rather not say 954                                                 NaN
                   612                                                 NaN
                   1386  Since it says “mars” and not specifically a ma...
                   183   YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...
                   1796                                                NaN
Male               2294                                                NaN
                   1490                                                NaN
                   1371                                                NaN
                   943                                                 NaN
                   1479                                                NaN
Other              2212                                                NaN
                   841                                                 NaN
                   1192                                                NaN
                   1444                                                NaN
                   2086                                                NaN

                             Q10: DRESS Unnamed: 113 Q11: DAY  \
Q2: GENDER
Female             414   White and gold          NaN   Friday
                   627              NaN          NaN      NaN
                   1308  Blue and black          NaN   Friday
                   379              NaN          NaN      NaN
                   415   White and gold          NaN   Sunday
I'd rather not say 954   Blue and black          NaN   Friday
                   612   White and gold          NaN   Friday
                   1386  Blue and black          NaN   Friday
                   183   White and gold          NaN   Friday
                   1796             NaN          NaN      NaN
Male               2294  Blue and black          NaN   Friday
                   1490             NaN          NaN      NaN
                   1371  White and gold          NaN   Sunday
                   943   Blue and black          NaN   Friday
                   1479  White and gold          NaN   Sunday
Other              2212             NaN          NaN      NaN
                   841   Blue and black          NaN   Friday
                   1192  White and gold          NaN   Sunday
                   1444  White and gold          NaN   Friday
                   2086             NaN          NaN      NaN

                        Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
Q2: GENDER
Female             414                      NaN                  1.0
                   627                      NaN                  NaN
                   1308                     NaN                  1.0
                   379                      NaN                  NaN
                   415                      NaN                  1.0
I'd rather not say 954                      NaN                  NaN
                   612                      NaN                  NaN
                   1386                     NaN                  1.0
                   183                      NaN                  1.0
                   1796                     NaN                  NaN
Male               2294                     NaN                  1.0
                   1490                     NaN                  NaN
                   1371                     NaN                  1.0
                   943                      1.0                  NaN
                   1479                     NaN                  NaN
Other              2212                     NaN                  NaN
                   841                      NaN                  1.0
                   1192                     NaN                  1.0
                   1444                     NaN                  1.0
                   2086                     NaN                  NaN

                        Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo]  \
Q2: GENDER
Female             414                NaN                NaN
                   627                NaN                NaN
                   1308               NaN                NaN
                   379                NaN                NaN
                   415                NaN                NaN
I'd rather not say 954                NaN                NaN
                   612                NaN                NaN
                   1386               NaN                NaN
                   183                NaN                NaN
                   1796               NaN                NaN
Male               2294               NaN                NaN
                   1490               NaN                NaN
                   1371               NaN                NaN
                   943                NaN                NaN
                   1479               NaN                NaN
Other              2212               NaN                NaN
                   841                NaN                NaN
                   1192               NaN                NaN
                   1444               NaN                NaN
                   2086               NaN                NaN

                        Click Coordinates (x, y)
Q2: GENDER
Female             414                  (64, 18)
                   627                       NaN
                   1308                  (58, 6)
                   379                       NaN
                   415                  (85, 21)
I'd rather not say 954                       NaN
                   612                       NaN
                   1386                 (82, 13)
                   183                  (74, 42)
                   1796                      NaN
Male               2294                 (77, 40)
                   1490                      NaN
                   1371                 (74, 11)
                   943                  (37, 17)
                   1479                      NaN
Other              2212                      NaN
                   841                   (79, 7)
                   1192                 (84, 36)
                   1444                 (72, 26)
                   2086                      NaN

[20 rows x 120 columns]

Chapter 11

In [75]:
# Loading the datafile.
boing_candy_df = pd.read_excel(r'Data/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')

# Checking the dataframe.
boing_candy_df.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

Convert between string and date time

In [76]:
# Converting to string.
boing_candy_df['string time'] = boing_candy_df['Timestamp'].astype(str)

# View the new column.
boing_candy_df['string time']

0       2016-10-24 05:09:23.033
1       2016-10-24 05:09:54.798
2       2016-10-24 05:13:06.734
3       2016-10-24 05:14:17.192
4       2016-10-24 05:14:24.625
                 ...
1254    2016-10-29 16:53:52.516
1255    2016-10-30 06:53:54.735
1256    2016-10-30 11:06:10.827
1257    2016-10-30 16:07:26.539
1258    2016-10-30 17:06:45.660
Name: string time, Length: 1259, dtype: object

In [77]:
# Converting string to date time.
boing_candy_df['Time'] = pd.to_datetime(boing_candy_df['string time'])

# View the new column.
boing_candy_df['Time']

0      2016-10-24 05:09:23.033
1      2016-10-24 05:09:54.798
2      2016-10-24 05:13:06.734
3      2016-10-24 05:14:17.192
4      2016-10-24 05:14:24.625
                 ...
1254   2016-10-29 16:53:52.516
1255   2016-10-30 06:53:54.735
1256   2016-10-30 11:06:10.827
1257   2016-10-30 16:07:26.539
1258   2016-10-30 17:06:45.660
Name: Time, Length: 1259, dtype: datetime64[ns]

Convert timestamps to periods and back

In [78]:
# Setting Timestamp as the index.
boing_candy_df = boing_candy_df.set_index(['Timestamp'])

# Converting to periods with a daily frequency.
period_df = boing_candy_df.to_period(freq='D')
# view the dataframe
period_df

,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers (the candy)],...,Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore,string time,Time
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-10-24,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:09:23.033,2016-10-24 05:09:23.033
2016-10-24,No,Male,45,usa,il,MEH,MEH,JOY,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:09:54.798,2016-10-24 05:09:54.798
2016-10-24,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:13:06.734,2016-10-24 05:13:06.734
2016-10-24,No,Male,57,usa,il,JOY,MEH,JOY,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:14:17.192,2016-10-24 05:14:17.192
2016-10-24,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN,2016-10-24 05:14:24.625,2016-10-24 05:14:24.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-29,No,Female,52,USA,TX,JOY,DESPAIR,JOY,MEH,MEH,...,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN,2016-10-29 16:53:52.516,2016-10-29 16:53:52.516
2016-10-30,No,Male,33,united states,minnesota,JOY,DESPAIR,JOY,DESPAIR,MEH,...,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines,NaN,2016-10-30 06:53:54.735,2016-10-30 06:53:54.735
2016-10-30,No,Male,NaN,NaN,NaN,JOY,MEH,JOY,NaN,DESPAIR,...,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines,NaN,2016-10-30 11:06:10.827,2016-10-30 11:06:10.827
2016-10-30,No,Male,48,canada,BC,NaN,DESPAIR,JOY,DESPAIR,MEH,...,3 or higher,3 or higher,2,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN,2016-10-30 16:07:26.539,2016-10-30 16:07:26.539
2016-10-30,Yes,Female,44,Us,Nh,JOY,MEH,JOY,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish,NaN,2016-10-30 17:06:45.660,2016-10-30 17:06:45.660

In [79]:
# Convert from daily period to timestamp at end of day.
ts_df = period_df.to_timestamp(how='end')

# Checking the dataframe.
ts_df.head()

,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers (the candy)],...,Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore,string time,Time
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-10-24 23:59:59.999999999,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:09:23.033,2016-10-24 05:09:23.033
2016-10-24 23:59:59.999999999,No,Male,45,usa,il,MEH,MEH,JOY,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:09:54.798,2016-10-24 05:09:54.798
2016-10-24 23:59:59.999999999,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:13:06.734,2016-10-24 05:13:06.734
2016-10-24 23:59:59.999999999,No,Male,57,usa,il,JOY,MEH,JOY,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:14:17.192,2016-10-24 05:14:17.192
2016-10-24 23:59:59.999999999,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN,2016-10-24 05:14:24.625,2016-10-24 05:14:24.625